{% extends 'base.html' %}

{% block content %}
<!--Flask Flashed Messages to User-->
<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat,msg in messages %}
                {% if cat == 'user-created'%}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
        
        {% elif cat == 'auth-success' %}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
</div>





{% endblock content %}